---
layout: default
---

<!-- Start Hero -->
<div class="hero" style="background:  linear-gradient(
                     rgba(20,20,20, .3), 
                     rgba(20,20,20, .3)),
			 url('{{ site.baseurl }}/img/{{ site.hero.hero_img }}') no-repeat; background-size: cover; background-position: 50% 25%; background-color: rgba(0,0,0,0.5)">
    <div class="container-fluid">

        <div class="row">
            <div class="col-sm-6">
			<div id="about" class="about" >
		<div style="color:white">
                <h3 style="margin-top:0.5em;color:white">{{ site.data.about.title }}</h3>
                {{ site.data.about.description | markdownify }}
		</div>
		    </div>
			</div>
			<div class="col-sm-5 col-sm-offset-1 form">
				<h3><svg class="icon icon-envelope-o"><use xlink:href="#icon-envelope-o"></use></svg>Contactez moi</h3>
				<form action="https://getsimpleform.com/messages?form_api_token={{ site.api_token }}" method="post" enctype="multipart/form-data">
					<div class="form-field">
						<input name="name" type="text" placeholder="Nom" required>
					</div>
					<div class="form-field">
						<input name="email" type="email" placeholder="Email" required>
					</div>
					<div class="form-field">					
					<input type="subject" name="subject" list="services" placeholder="Suject" required />
					<!--	<datalist id="services">
						<option>Peer Reviewed Article</option>
						<option>CV</option>
						<option>Cover Letter</option>
						<option>Academic Assignment</option>
						<option>Science Communication</option>
						<option>Tutoring</option>
						</datalist>-->
					</div>
					<div class="form-field">
						<textarea name="comments" placeholder="Message" required></textarea>
					</div>
					<div class="form-field">
					 <input type='file' name='attachement' />
					</div> 					 
					<input type="submit" class="btn btn-default" value="Envoyer">
				</form>
			</div>
		</div>
    </div>
</div>

<!-- End Hero -->


<!-- Start Services -->
<div id="services" class="services">
    <div class="container-fluid">
        <h2 class="section-title">Prestations</h2>
		
        <div class="row">
            {% for service in site.data.services %}
<!--                 <div class="col-sm-12 col-md-2p4">
 -->
                <div class="col-sm-6 col-md-4">
					<div class="icon-box">
                        <svg class="icon {{ service.icon }}"><use xlink:href="#{{ service.icon }}"></use></svg>
                        <h4>{{ service.title }}</h4>
                        <p>{{ service.description | markdownify }}</p>
                        <p>{{ service.pricing | markdownify }}</p>
                    </div>
                </div>
            {% endfor %}
		</div>
    </div>
</div>
<!-- End Services -->

<!-- Start Instructions for Submission -->
<div id="instructions" class="services" style="background-image: url('{{ site.baseurl }}/img/{{ site.instructions.instructions_img }}');">
    <div class="container-fluid">
		<h2 class="section-title">Instructions pour soumission</h2>
		
        	<div class="row">
           	 {% for instruction in site.data.instructions %}
	               <div class="col-sm-6 col-md-4">
			<div class="noicon-box">
                        <h4>{{ instruction.title }}</h4>
                        <P>{{ instruction.description | markdownify }}</P>
                    	</div>
                </div>
            {% endfor %}
		</div>
	</div>
</div>		
<!-- End Instructions for Submission -->

<!-- Start Pricing -->
<div id="Pricing" class="services">
    <h2 class="section-title">Tarifs</h2>
    <div class="container-fluid">
        <div class="row" style="margin-left: 5%;margin-right: 5%">
		{{site.data.pricing | markdownify}}
		</div>
    </div>
</div>		
<!-- End Pricing -->

<!-- Start Testimonials -->
<!-- <div id="testimonials" class="testimonials parallax" style="background-image: url('{{ site.baseurl }}/img/{{ site.testimonials.testimonials_img }}');">
    <div class="overlay-container">
        <div class="overlay"></div>
        <div class="container-fluid">
            <div id="testimonial-carousel">
                {% for testimonial in site.data.testimonials %}
                    <div class="testimonial-item">
                        <svg class="icon icon-quote-left"><use xlink:href="#icon-quote-left"></use></svg>
                        <blockquote>
                            <p>{{ testimonial.description }}</p>
                            <footer>
                                {{ testimonial.name }}
                                <small>{{ testimonial.title }}</small>
                            </footer>
                        </blockquote>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div> -->
<!-- End Testimonials -->

<!-- Start 3 columns -->
<div id="contact" class="contact">

	<div class="three-shade-col">
		<div class="col-sm-4">
			<svg class="icon icon-envelope-o"><use xlink:href="#icon-envelope-o"></use></svg>
			<h3>Contact</h3>
			<ul>
				{% if site.contact.phone %}<li><strong>Phone:</strong> {{ site.contact.phone }}</li>{% endif %}
				{% if site.contact.emergency %}<li><strong>Emergency:</strong> {{ site.contact.emergency }}</li>{% endif %}
				<!-- {% if site.contact.email %}<li><strong>Email:</strong> {{ site.contact.email }}</li>{% endif %} -->
				{% if site.contact.email %}<li><a style="color:#fff;" href="mailto: {{site.contact.email}}">{{site.contact.email}}</a></li>{% endif %}
			</ul>
		</div>
		<div class="col-sm-4">
			<svg class="icon icon-clock-o"><use xlink:href="#icon-clock-o"></use></svg>
			<h3>Horaires</h3>
			<table>
				<tbody>
					<tr>
						<td>Lundi – Vendredi</td>
						<td>{{ site.monday_friday }}</td>
					</tr>
					<tr>
						<td>Samedi</td>
						<td>{{ site.saturday }}</td>
					</tr>
                 <tr>
                    <td>Temps de réponse</td>
                    <td>{{ site.response_time }}</td>
                </tr>
				</tbody>
			</table>
		</div>
		<div class="col-sm-4">
			<svg class="icon icon-map-marker"><use xlink:href="#icon-map-marker"></use></svg>
			<h3>Emplacement</h3>
				<p>					
					{{ site.contact.address }}
				</p>
		</div> 
	</div>
</div>
